
# General
.env
.vscode/

# Node/Frontend
frontend/node_modules/
frontend/dist/

# Python/Backend
backend/__pycache__/
backend/src/__pycache__/

# Datos y archivos generados (permitir .gitkeep para carpetas vacías)
backend/audio/*
!backend/audio/.gitkeep
backend/clips/*
!backend/clips/.gitkeep
backend/embeddings/*
!backend/embeddings/.gitkeep
backend/models/sentence_transformers/*
!backend/models/sentence_transformers/.gitkeep
backend/models/whisper_models/*
!backend/models/whisper_models/.gitkeep
backend/thumbnails/*
!backend/thumbnails/.gitkeep
backend/transcripts/*
!backend/transcripts/.gitkeep
backend/video_data/*
!backend/video_data/.gitkeep

# Otros archivos temporales o locales
backend/info.txt